body{
    padding: 0;
    margin: 0;
}

.navbar-header {
  background-color:#118cf0;
  margin: 0;
  display: flex;
  width: 100%;
  align-items: center;
  /* position: fixed; */
}

.navbar-items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar-logo {
  width: 20%;
  display: flex;
}

.navbar-logo img {
    width: 100px;
    height: 50px;
}

.navbar-search {
  width: 60%;
  display: flex;
}

.navbar-header input{
    outline: none;
    width: 60%;
    padding-inline: 8px;
    padding-block:9px;
    border-radius: 10px;
    border: 0.5px solid #fdfdfd;
}

.navbar-search input:focus{
    width: 80%;
    border: 3px solid #022f8fdc;
    transform: none;
    transition: all 0.4s;
}

.navbar-links{
    width: 30%;
    display: flex;
    justify-content: end;
}

.navbar-links ul li{
    margin-right: 10px;
    list-style: none;
} 

.login-button{
  cursor: pointer;
  border-radius: 5px;
  padding-inline: 17px;
  padding-block: 8px;
  border: none;
  background-color: #022f8fdc;
  color: rgb(253, 253, 253);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.login-button:hover{
  transform: scale(1.1);
  transition: all 0.3s;
 
}

.user-icon{
  width: 13px;
  margin-right: 4px;
} 


