.sidebar {
  width: 25%;
  display: flex;
  height: 33.4rem;
  justify-content: start;
  flex-direction: row-reverse;
  margin-right: 0;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  height: 100%;
  margin: 0;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  gap: 13%;
  list-style: none;
  background-color: rgb(250, 250, 250);
  border: rgb(226, 226, 226);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar-item {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(250, 250, 250);
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: 8px;
  align-items: center;
  width: 100%;
}

.sidebar-item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: none;
  transition: 0.3s;
  cursor: pointer;
}

.help-icon {
  margin-right: 4px;
}

.settings-icon {
  margin-right: 4px;
}
.account-icon {
  margin-right: 4px;
}
