body {
  margin: 0;
  padding: 0;
}

.houses-list-container {
  display: block;
  width: 70%;
}

.houses-list {
  width: 100%;
  padding: 0;
}

.houses-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  border: 0.4px solid rgb(250, 250, 250);
  background-color: rgb(250, 250, 250);
  margin-left: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.houses-item:hover {
  cursor: pointer;
  transform: scale(0.96);
  transition: all 0.4s;
}
.house-props {
  width: 65%;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
}
.house-img img {
  width: 300px;
  border-radius: 8px;
  max-width: 100%;
  outline: none;
}
.house-img {
  width: 35%;
}

.house-info {
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin-top: 0;
}

.house-title {
  margin-top: 0;
  text-align: center;
}

.house-info span {
  padding-inline: 15px;
  padding-block: 5px;
  background-color: #9ef1fc;
  border-radius: 8px;
  text-align: center;
}
.date-icon {
  margin-left: 4px;
}


.house-description{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
  margin-bottom: 4rem;
}

.house-description p{
  width: 50%;
  font-size: small;
  text-align: center;
  opacity: 2px;
}

